<div class="modal-dialog  modal-lg">
  <div class="modal-content">
    <div class="mat-elevation-z8">
      <div class="card height-auto">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="back()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Close</h4>
            </div>
                   
            <div class="container">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 mb-3">
                      <img [src]="customerDto.imagePath" [alt]="customerDto.customername" width="200px">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Full Name</h4>
                    </div>
                    <div class="col-sm-9 text-primary">
                       <h4> {{ customerDto.customername}}    </h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Email</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <h4> {{customerDto.email}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Mobile</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <h4> {{customerDto.mobile}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Address</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <h4> {{customerDto.address}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Pincode</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <h4> {{customerDto.pincode}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Service</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    <h4> {{customerDto.service}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Gender</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <h4>{{customerDto.gender}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Date of Birth</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <h4>{{customerDto.dob}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Pincode</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <h4> {{customerDto.pincode}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">FeedBack</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <h4> {{customerDto.feedback}}</h4>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







































