<div class="modal-dialog  modal-lg">
  <div class="modal-content">
    <div class="mat-elevation-z8">
      <div class="card height-auto">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="modal-header">
              <button data-dismiss="modal" (click)="back()" aria-label="Close" type="button" class="close btn btn-danger btn-sm"  style="color: red; background-color: white;"><i class="fas fa-times text-orange-red"></i>&nbsp;</button>       
            </div>
                   
            <div class="container">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 mb-3">
                      <img [src]="customerDto.imagePath" [alt]="customerDto.firstName" width="200px">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Full Name</h4>
                    </div>
                    <div class="col-sm-9 text-primary">
                       <h4> {{ customerDto.firstName }} {{ customerDto.lastName}}    </h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Email</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <h4> {{customerDto.email}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Mobile</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <h4> {{customerDto.mobile}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Address</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <h4> {{customerDto.address[0].street }},{{customerDto.address[0].city }},<br>{{customerDto.address[0].state }},{{customerDto.address[0].zipcode }}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Gender</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <h4>{{customerDto.gender}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Date of Birth</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <h4>{{customerDto.dob}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">FeedBack</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <h4> {{customerDto.feedback}}</h4>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







































