<mat-toolbar color="primary">
   
    <mat-toolbar-row>
       <button mat-icon-button (click)="toggleSidebar()">
           <mat-icon>menu</mat-icon>
       </button>
       <h1>At<span style="color: orange;">Y</span>ourService</h1>
       <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
           <ul fxLayout="row" fxLayoutGap="20px">
               <li>
                   <button mat-icon-button>
                       <mat-icon>settings</mat-icon>
                   </button>
               </li>
               <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                   
                            <button mat-icon-button (click)="logout()" matTooltip="Logout">
                                    <mat-icon>exit_to_app</mat-icon>
                            </button>
                </li>
           </ul>
       </div>
    </mat-toolbar-row>
    
</mat-toolbar>
<div *ngIf="loaderService.isLoading | async"  class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
