
<mat-card>
    <a mat-list-item routerLinkActive="list-item-active" (click)="clicked()">
        Post 1
    </a>
</mat-card>
<mat-divider></mat-divider>

<mat-card>
    <a mat-list-item routerLinkActive="list-item-active" (click)="clicked()">
        Post 2
    </a>
</mat-card>
<mat-divider></mat-divider>

<mat-card>
    <a mat-list-item routerLinkActive="list-item-active" (click)="clicked()">
        Post 3
    </a>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <a mat-list-item routerLinkActive="list-item-active" (click)="clicked()">
        Post 2
    </a>
</mat-card>
<mat-divider></mat-divider>

<mat-card>
    <a mat-list-item routerLinkActive="list-item-active" (click)="clicked()">
        Post 3
    </a>
</mat-card>
<mat-divider></mat-divider>

<router-outlet></router-outlet>

<mat-divider></mat-divider>