<div class="posts">
<mat-card (click)="clicked()">
    <a mat-list-item routerLinkActive="list-item-active" >
        Post 1
    </a>
</mat-card>


<mat-card (click)="clicked()">
    <a mat-list-item routerLinkActive="list-item-active" >
        Post 2
    </a>
</mat-card>


<mat-card (click)="clicked()">
    <a mat-list-item routerLinkActive="list-item-active" >
        Post 3
    </a>
</mat-card>

<mat-card (click)="clicked()">
    <a mat-list-item routerLinkActive="list-item-active" >
        Post 4
    </a>
</mat-card>


<mat-card (click)="clicked()">
    <a mat-list-item routerLinkActive="list-item-active" >
        Post 5
    </a>
</mat-card>

</div>
<div class="Post">
<router-outlet></router-outlet>
</div>
<mat-divider></mat-divider>