.hosts{
    display: flex;
    flex-direction:column;
}
.posts
{
    display: flex;
    flex-direction: row;
}
.mat-card{
   margin: 15px;
   height: 200px;
   width: 150px;

}
a{
    text-decoration: none;    
    outline: none;
}