<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./assets/omkar.jpeg" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Omkar Powar</h5><span class="small text-uppercase text-muted">Team
                    Member</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Team Item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./assets/suraj.jpeg" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Suraj Hanvate</h5><span class="small text-uppercase text-muted">Team Member</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Team Item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./assets/sameer.JPG" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Sameer Khadtare</h5><span class="small text-uppercase text-muted">Team
                    Member</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Team Item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./assets/aniket.jpeg" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Aniket Nangare</h5><span class="small text-uppercase text-muted">Team Member</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

