

<app-customer-navbar></app-customer-navbar>

<!-- Main body -->
<div class="Employee">
<div >
  <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12" style="height: max-content;">
          <div class="card">
              <div class="card-body " >
                  <div class="account-settings" >
                      <div class="user-profile" >
                          <div class="user-avatar" >
                              <label for="imageUpload">
                                  <img  [src]="imageURL" [alt]="username" class="img-thumbnail">
                              </label>
                              <input 
                              type="file" 
                              id="imageUpload"
                              accept="image/*"
                              (change)="showPreview($event)" hidden/>
                          </div>
                      </div>
                      <div class="about" style="display: block;text-align: center;">
                        <h3 class="user-name">{{customerDto.customername}}</h3>
                          <br>
                          <h4>Contact No:</h4>
                          <p style="font-size:medium">{{customerDto.mobile}}</p>
                          <h4>Email</h4>
                          <p style="font-size:medium">{{customerDto.email}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Tabs navs -->
      <div class="col-md-9">
          <ul class=" nav nav-pills nav-fill mb-3" id="ex1" role="tablist">
              <li class="nav-item" role="presentation">
                  <a class="nav-link font-weight-bold active" data-toggle="tab" href="#ex1-tabs-1" role="tab"
                      aria-controls="ex1-tabs-1" aria-selected="true">Profile</a>
              </li>
              <li class="nav-item" role="presentation">
                  <a class="nav-link font-weight-bold" data-toggle="tab" href="#ex1-tabs-2" role="tab"
                      aria-controls="ex1-tabs-2" aria-selected="false">Activities</a>
              </li>
              <li class="nav-item" role="presentation">
                  <a class="nav-link font-weight-bold" data-toggle="tab" href="#ex1-tabs-3" role="tab"
                      aria-controls="ex1-tabs-3" aria-selected="false">Notifications</a>
              </li>
          </ul>
          <div class="tab-content" id="ex1">
              <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tabs-1">
                  <div class="col-md-12">
                      <div class="card h-100">
                          <div class="card-body">
                              <div [formGroup]="customerForm">
                              <div class="row gutters">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                      <h3 class="mb-2 text-primary">Personal Details</h3>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                      <div class="form-group">
                                          <label for="firstName">Customer Name</label>
                                          <input type="text" 
                                          class="form-control" 
                                          formControlName="customername"
                                          [(ngModel)]="customerDto
.customername"
                                          [value]="customerDto
.customername"
                                              placeholder="Customer Name">
                                      </div>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                      <div class="form-group">
                                          <label for="phone">Phone</label>
                                          <input type="text" 
                                          class="form-control" 
                                          id="phone"
                                          formControlName="mobile"
                                          [(ngModel)]="customerDto
.mobile"
                                          [value]="customerDto
.mobile"
                                              placeholder="Enter phone number">
                                      </div>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                      <div class="form-group">
                                          <label for="eMail">Email</label>
                                          <input type="email" 
                                          class="form-control" 
                                          id="email"
                                          formControlName="email"
                                          [(ngModel)]="customerDto
.email"
                                          [value]="customerDto
.email"
                                              placeholder="Enter email ID">
                                      </div>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="dob">DOB</label>
                                        <input type="date" class="form-control" 
                                        id="dob"
                                        formControlName="dob"
                                        [(ngModel)]="customerDto
.dob"
                                        [value]="customerDto
.dob"
                                      >
                                    </div>
                                </div>
                              </div>
                         <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea type="text" 
                                    class="form-control" 
                                    id="address"
                                    formControlName="address"
                                    [(ngModel)]="customerDto
.address"
                                    [value]="customerDto
.address"
                                        placeholder="Enter Address" rows="3" cols="6"></textarea>
                                </div>
                            </div>
                                  
                                  
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                      <div class="form-group">
                                          <label for="pincode">Pin Code</label>
                                          <input type="text" 
                                          class="form-control" 
                                          id="pincod" 
                                          formControlName="pincode"
                                          [(ngModel)]="customerDto
.pincode"
                                          [value]="customerDto
.pincode"
                                          placeholder="Enter Pin Code">
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <div class="row gutters">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                      <div class="text-right">
                                          <button 
                                              class="btn btn-danger">Clear</button>
                                              &nbsp;
                                          <button [disabled]="loading" (click)="update()"
                                              class="btn btn-primary">
                                              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                              Update</button>
                                      </div>
                                      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tabs-2">
                  <div class="mat-elevation-z8" >
                      <div class="card height-auto" style="background-color:transparent; color: blueviolet;" >
                        <div class="card-body">
                          <div class="heading-layout1">
                            <div class="item-title">
                              <h2>Activities</h2>
                            </div>
                          </div>
                        All Activities are here
                        </div>


                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tabs-3">
                  <div class="col-md-12">
                      <div class="book-card card-white mb-5">
                          <div class="card-heading clearfix border-bottom mb-4">
                              <h4 class="card-title">Notifications</h4>
                          </div>
                          <div class="card-body">
                              <ul class="list-unstyled">
                                  <li class="position-relative booking">
                                      <div class="media">
                                          <div class="media-body">
                                             <div>Notification 1</div>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Tabs navs -->
</div>
<div id="editStatus" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-primary">Edit Status</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label class="text-secondary">Update Status</label>
                      <select class="form-control">
                          <option>Status</option>
                          <option>Completed</option>
                          <option>Pending</option>
                          <option>Cancelled</option>
                      </select>
                  </div>
              </div>
              <div class="modal-footer">
                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                  <input type="submit" class="btn btn-info" value="Save">
              </div>    
      </div>
  </div>
</div>
</div>