<nav class="navbar navbar-expand-lg navbar-dark mb-1">
    <div class="container">
        <a class="navbar-brand" href="../index.html">At<span style="color: orangered;">Y</span>ourService</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="list-item-active"  routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="list-item-active"  routerLink="/aboutus">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" routerLinkActive="list-item-active"  [routerLink]="['/servicePage','City']">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="list-item-active"  routerLink="/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button type="button" class="btn btn-link bg-primary text-white dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="false" >
                            Menu
                        </button>
                        <ul class="dropdown-menu"
                                style="max-width: max-content;background-color:transparent;border:none">
                                <li><a class="dropdown-item"
                                        style="color: darkgrey;background-color:#353f6be8">
                                        Dashboard
                                </a></li>
                                <li><a class="dropdown-item" 
                                        style="color: darkgrey;background-color:#353f6be8" (click)="logout()">
                                        LogOut
                                </a></li>
                        </ul>
                    </div>
                </li>
                <li>
                
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Main body -->
 <div class="Employee">
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
        <mat-spinner   mode="indeterminate" style="top: 50%;left: 50%;"></mat-spinner>
    </div>
<div >
  <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12" style="height: max-content;">
          <div class="card">
              <div class="card-body " >
                  <div class="account-settings" >
                      <div class="user-profile" >
                          <div class="user-avatar" >
                              <label for="imageUpload">
                                  <img  [src]="imageURL" [alt]="username" class="img-thumbnail">
                              </label>
                              <input 
                              type="file" 
                              id="imageUpload"
                              accept="image/*"
                              (change)="showPreview($event)" hidden/>
                          </div>
                      </div>
                      <div class="about" style="display: block;text-align: center;">
                        <h3 class="user-name">{{customerDto.firstName}} {{customerDto.lastName}}</h3>
                          <br>
                          <h4>Contact No:</h4>
                          <p style="font-size:medium">{{customerDto.mobile}}</p>
                          <h4>Email</h4>
                          <p style="font-size:medium">{{customerDto.email}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Tabs navs -->
      <div class="col-md-9">
          <ul class=" nav nav-pills nav-fill mb-3" id="ex1" role="tablist">
              <li class="nav-item" role="presentation">
                  <a class="nav-link font-weight-bold active" data-toggle="tab" href="#ex1-tabs-1" role="tab"
                      aria-controls="ex1-tabs-1" aria-selected="true">Profile</a>
              </li>
              <li class="nav-item" role="presentation">
                  <a class="nav-link font-weight-bold" data-toggle="tab" href="#ex1-tabs-2" role="tab"
                      aria-controls="ex1-tabs-2" aria-selected="false">Activities</a>
              </li>
              <li class="nav-item" role="presentation">
                  <a class="nav-link font-weight-bold" data-toggle="tab" href="#ex1-tabs-3" role="tab"
                      aria-controls="ex1-tabs-3" aria-selected="false">Notifications</a>
              </li>
          </ul>
          <div class="tab-content" id="ex1">
              <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tabs-1">
                  <div class="col-md-12">
                      <div class="card h-100">
                          <div class="card-body">
                              <div [formGroup]="customerForm">
                              <div class="row gutters">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                      <h3 class="mb-2 text-primary">Personal Details</h3>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="firstname">First Name</label>
                                        <input type="text" 
                                        class="form-control" 
                                        id="firstname"
                                        formControlName="firstName"
                                        [(ngModel)]="customerDto.firstName"
                                        [value]="customerDto.firstName"
                                            placeholder="Enter first name">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="lastname">Last Name</label>
                                        <input type="text" 
                                        class="form-control" 
                                        id="lastname"
                                        formControlName="lastName"
                                        [(ngModel)]="customerDto.lastName"
                                        [value]="customerDto.lastName"
                                            placeholder="Enter last name">
                                    </div>
                                </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                      <div class="form-group">
                                          <label for="phone">Phone</label>
                                          <input type="text" 
                                          class="form-control" 
                                          id="phone"
                                          formControlName="mobile"
                                          [(ngModel)]="customerDto
.mobile"
                                          [value]="customerDto
.mobile"
                                              placeholder="Enter phone number">
                                      </div>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                      <div class="form-group">
                                          <label for="eMail">Email</label>
                                          <input type="email" 
                                          class="form-control" 
                                          id="email"
                                          formControlName="email"
                                          [(ngModel)]="customerDto
.email"
                                          [value]="customerDto
.email"
                                              placeholder="Enter email ID">
                                      </div>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="dob">DOB</label>
                                        <input type="date" class="form-control" 
                                        id="dob"
                                        formControlName="dob"
                                        [(ngModel)]="customerDto
.dob"
                                        [value]="customerDto
.dob"
                                      >
                                    </div>
                                </div>
                              </div>
                         <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h3 class="mb-2 text-primary">Address</h3>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="street">Street</label>
                                    <input type="text" 
                                    class="form-control" 
                                    id="street"
                                    formControlName="street"
                                    [(ngModel)]="customerDto.address[0].street"
                                    [value]="customerDto.address[0].street"
                                        placeholder="Enter Street" >
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input type="text" 
                                    class="form-control" 
                                    id="city"
                                    formControlName="city"
                                    [(ngModel)]="customerDto.address[0].city"
                                    [value]="customerDto.address[0].city"
                                        placeholder="Enter CITY" >
                                </div>
                            </div>
                           
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <input type="text" 
                                    class="form-control" 
                                    id="state"
                                    formControlName="state"
                                    [(ngModel)]="customerDto.address[0].state"
                                    [value]="customerDto.address[0].state"
                                        placeholder="Enter State" >
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="zipcode">Zipcode</label>
                                    <input type="text" 
                                    class="form-control" 
                                    id="zipcode"
                                    formControlName="zipcode"
                                    [(ngModel)]="customerDto.address[0].zipcode"
                                    [value]="customerDto.address[0].zipcode"
                                        placeholder="Enter zipcode" >
                                </div>
                            </div>
                                 
                              </div>
                              </div>
                              <div class="row gutters">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                      <div class="text-right">
                                          <button 
                                              class="btn btn-danger">Clear</button>
                                              &nbsp;
                                          <button [disabled]="loading" (click)="update()"
                                              class="btn btn-primary">
                                              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                              Update</button>
                                      </div>
                                      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


              <!-- ----------------------------------------------- -->
              <div class="tab-pane" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tabs-2">
                      <div class="card height-auto">
                        <div>
                          <div class="heading-layout1">
                            <div class="item-title">
                              <h2 class="ml-2">Activities</h2>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="book-card card-white mb-5">
                                <div class="card-heading clearfix border-bottom mb-4">
                                    <h4 class="card-title">Booking Requests</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled" *ngFor="let request of requests;">
                                        <div *ngFor="let tasker of taskers;">
                                        <li class="position-relative booking"  >
                                            <div class="panel-group" *ngIf="request.taskerId==tasker.id" >
                                                <div class="panel panel-default" >
                                                  <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                      <a data-toggle="collapse" href="#i" >Request details</a>
                                                    </h4>
                                                  </div>
                                                  <div id="i" class="panel-collapse ">
                                                        <div class="media">
                                                            <div class="msg-img">
                                                                <img [src]="tasker.imagePath" alt="">
                                                            </div>
                                                            <div class="media-body">
                                                                <h2 class="mb-4 text-primary">{{tasker.firstname}} {{tasker.lastname}}</h2>
                                                                    <div class="mb-3">
                                                                    <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Booking Date:</span>
                                                                    <span>{{request.createdAt}}</span>
                                                                    </div>
                                                    <div class="mb-3">
                                                        <span
                                                            class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Service
                                                            Details:</span>
                                                        <span>{{request.description}}</span>
                                                    </div>
                                                    <div class="mb-3">
                                                        <span
                                                            class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Base Price:</span>
                                                        <span>150 RS</span>
                                                    </div>
                                                    <div class="mb-3">
                                                        <span
                                                            class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0">Contact:</span>
                                                        <span class="border-right pr-2 mr-2">{{tasker.mobile}}</span>
                                                        <span class="border-right pr-2 mr-2">{{tasker.email}}</span>
                                                        <span>123-563-789</span>
                                                    </div>
                                                    <div class="mb-3">
                                                        <span
                                                            class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0">Address:</span>
                                                        <span class="border-right pr-2 mr-2">{{tasker.address[0].street}}
                                                        {{tasker.address[0].city}} {{tasker.address[0].state}}</span>
                                                        <span>{{tasker.address[0].pincode}}</span>
                                                    </div>
                                                    <span class="button-to-right">
                                                        <a  class="btn-gray btn-danger text-white" *ngIf="request.status=='canceled'">
                                                            <i class="far fa-check-circle mr-2"></i>
                                                            Cancelled
                                                        </a> 
                                                        <a  class="btn-gray btn-success text-white" *ngIf="request.status=='completed'">
                                                            <i class="far fa-check-circle mr-2"></i>
                                                            Completed
                                                        </a> 
                                                        <a  class="btn-gray btn-danger ml-4" (click)="action(request.id,'canceled')" *ngIf="request.status=='pending' || request.status=='rebooked' ">
                                                            <i class="far fa-times-circle mr-2"></i> Cancel
                                                        </a>
                                                        <a  class="btn-gray btn-success ml-4" (click)="action(request.id,'rebooked')" *ngIf="request.status=='canceled'">
                                                            <i class="far fa-times-circle mr-2"></i> Book again
                                                        </a>
                                                        
                                                    </span>
                                                </div>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                        </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                        </div>
                        </div>
                      </div>
              </div>




              <!-- ----------------------------------------------- -->
              <div class="tab-pane" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tabs-3">
                  <div class="col-md-12">
                      <div class="book-card card-white mb-5">
                          <div class="card-heading clearfix border-bottom mb-4">
                              <h4 class="card-title">Notifications</h4>
                          </div>
                          <div class="card-body">
                              <ul class="list-unstyled">
                                  <li class="position-relative booking">
                                      <div class="media">
                                          <div class="media-body">
                                             <div>Notification 1</div>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
    <!-- Tabs navs -->

