
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">At<span style="color: #F57C47;">Y</span>ourService</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="list-item-active"  routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="list-item-active"  routerLink="/aboutus">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" routerLinkActive="list-item-active"  [routerLink]="['/servicePage','City']">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="list-item-active"  routerLink="/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn drop-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Login/SignUp
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item"  mat-list-item  routerLinkActive="list-item-active"  routerLink="/customerlogin">Customer</a>
                          <a  class="dropdown-item"  mat-list-item  routerLinkActive="list-item-active"  routerLink="/employeeLogin">Tasker</a>
                          <a  class="dropdown-item"  mat-list-item  routerLinkActive="list-item-active"  routerLink="/adminLogin">Admin</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav> 