<div class="mat-elevation-z8">
  <div class="card height-auto">
    <div class="card-body">
      <div class="heading-layout1">
        <div class="item-title">
          <h3>Admin Lists</h3>
        </div>
      </div>
      
      <div class="table-responsive">
        <table id="example" class="table display data-table text-nowrap cell-border">
          <thead>
            <tr>
              <th>SR</th>
              <th>ID</th>
              <th>Name</th>
              <th>Username</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let admin of admins;let i=index;">
              <td>{{ i+1 }}</td>
              <td>{{ admin.id}}</td>
              <td>{{ admin.name }}</td>
              <td>{{ admin.username }}</td>
              <td>{{ admin.mobile }}</td>
              <td>{{ admin.email }}</td>
              <td>
                
              <button (click)="edit(admin.id)" type="button" class="btn btn-primary btn-sm mr-1" data-toggle="modal" data-target="#addContact"  style="color: orange; background-color: white;"><i class="fas fa-pen-alt text-orange-peel" ></i>&nbsp;</button>
              <button (click)="view(admin.id)" type="button" class="btn btn-secondary btn-sm mr-1" data-toggle="modal" data-target="#deleteConfirmation"  style="color: blue; background-color: white;"><i class="fas fa-align-justify" ></i>&nbsp;</button>
              <button (click)="delete(admin.id)" type="button" class="btn btn-danger btn-sm"  style="color: red; background-color: white;"><i class="fas fa-times text-orange-red"></i>&nbsp;</button>
              </td>
              <div class="modal fade" id="deleteConfirmation" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <app-editadmins [getid]="admin.id" (changeId)="OnchnageId(admin.id)" ></app-editadmins>
              </div>
                
              <!-- Modal 2 -->
              <div class="modal fade" id="addContact" data-backdrop="" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <app-viewadmins [getid]="admin.id" (changeId)="OnchnageId(admin.id)"></app-viewadmins>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 
<mat-divider></mat-divider>

<!-- Modal 1 -->

  
