<div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="mat-elevation-z8">
        <div class="card height-auto">
          <div class="card-body">
            <div class="heading-layout1">
              <div class="modal-header">
                <button data-dismiss="modal" (click)="back()" aria-label="Close" type="button" class="close btn btn-danger btn-sm"  style="color: red; background-color: white;"><i class="fas fa-times text-orange-red"></i>&nbsp;</button>       
              </div>
                     
              <div class="container">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row glutters mb-0">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <img [src]="taskerDto.imagePath" [alt]="taskerDto.username" width="100px" height="100px">
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">
                        <h4 class="mb-0">Full Name: <span class="text-primary">{{ taskerDto.firstname }} {{ taskerDto.lastname}}</span> </h4>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          <h4>Username: <span class="text-primary"> {{ taskerDto.username}} </span></h4>
                       </div>
                      </div>
                    </div>
                  
                    <hr>

                    <div class="row glutters mb-0">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <h4 class="mb-0">Email</h4>
                        <h4 class="text-secondary"> {{taskerDto.email}}</h4>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">
                        <h4 class="mb-0">Mobile</h4>
                        <h4 class="text-secondary"> {{taskerDto.mobile}}</h4>
                      </div>
                    </div>

                    <hr>
                    
                    <div class="row glutters mb-0">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-0" >
                        <h3 class="text-primary">Address</h3>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <h4 class="mb-0">Street</h4>
                        <h4 class="text-secondary">{{taskerDto.address[0].street}}</h4>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <h4 class="mb-0">City</h4>
                        <h4 class="text-secondary">{{taskerDto.address[0].city}}</h4>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <h4 class="mb-0">State</h4>
                        <h4 class="text-secondary">{{taskerDto.address[0].state}}</h4>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <h4 class="mb-0">Pincode</h4>
                        <h4 class="text-secondary">{{taskerDto.address[0].pincode}}</h4>
                      </div>
                    </div>

                    <hr>
                    <div class="row glutters mb-0">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <h4 class="mb-0">Skills</h4>
                      </div>
                      <div  class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-secondary"  >
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" *ngFor="let skill of taskerDto.skills;" >   
                            <h4> {{skill.skillname}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>

                    <div class="row glutters mb-0">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <h4 class="mb-0">JobType</h4>
                        <h4 class="text-secondary">{{taskerDto.jobtype}}</h4>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <h4 class="mb-0">Date of Birth</h4>
                        <h4 class="text-secondary">{{taskerDto.dob}}</h4>
                      </div>
                    </div>

                    <hr>

                    <div class="row glutter mb-0">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" *ngIf="taskerDto.active" style="color: green;">
                       <h4>Active <i class="fas fa-dot-circle" style="color: green;"></i></h4>
                      </div>

                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" *ngIf="!taskerDto.active" style="color: red;">
                        <h4>Not Active<i class="fas fa-dot-circle" style="color: red;"></i></h4>
                       </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  