<div class="container">
    <h3>Featured Taskers</h3>
    <div class="row  d-flex justify-content-between">
        <!-- taskers card 1 -->
        <div class="card tasker  mt-2 mb-2" style="max-width: 350px;">
            <div class="d-flex p-4">
                <img class="w-25 border rounded" src="./assets/dp.png" />
                <div class="ml-4">
                    <h5>Random Guy</h5>
                    <i class="fas fa-check-circle">
                        <span class="text-dark">2 completed tasks</span>
                    </i>
                </div>
            </div>
            <hr class="mt-0 ml-3 mr-3" />
            <div class="mt-0 ml-3">
                <p class="text-secondary">Featured Skills</p>
                <div class="w-100 pr-3">
                    <span class="mb-1">Plumbing</span>
                    <span class="float-right">10$/hr</span>
                </div>
                <div class="w-100 pr-3">
                    <span>Home Repairing</span>
                    <span class="float-right">20$/hr</span>
                </div>
            </div>
            <hr class="mt-4 ml-3 mr-3" />
            <div class="mt-0 ml-3">
                <p class="mb-0"><b>I'm the right person for the job:</b></p>
                <p>I have supplies and resources available for helping you with your repairing</p>
            </div>
        </div>
        
        <div class="card tasker mt-2 mb-2" style="max-width: 350px;">
            <div class="d-flex p-4">
                <img class="w-25 border rounded" src="./assets/dp.png" />
                <div class="ml-4">
                    <h5>Random Guy</h5>
                    <i class="fas fa-check-circle">
                        <span class="text-dark">2 completed tasks</span>
                    </i>
                </div>
            </div>
            <hr class="mt-0 ml-3 mr-3" />
            <div class="mt-0 ml-3">
                <p class="text-secondary">Featured Skills</p>
                <div class="w-100 pr-3">
                    <span class="mb-1">Painting</span>
                    <span class="float-right">10$/hr</span>
                </div>
                <div class="w-100 pr-3">
                    <span>Home Repairing</span>
                    <span class="float-right">20$/hr</span>
                </div>
            </div>
            <hr class="mt-4 ml-3 mr-3" />
            <div class="mt-0 ml-3">
                <p class="mb-0"><b>I'm the right person for the job:</b></p>
                <p>I have supplies and resources available for helping you with your repairing</p>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card tasker mt-2 mb-2" style="max-width: 350px;">
            <div class="d-flex p-4">
                <img class="w-25 border rounded" src="./assets/dp.png" />
                <div class="ml-4">
                    <h5>Random Guy</h5>
                    <i class="fas fa-check-circle">
                        <span class="text-dark">2 completed tasks</span>
                    </i>
                </div>
            </div>
            <hr class="mt-0 ml-3 mr-3" />
            <div class="mt-0 ml-3">
                <p class="text-secondary">Featured Skills</p>
                <div class="w-100 pr-3">
                    <span class="mb-1">Carpenters</span>
                    <span class="float-right">10$/hr</span>
                </div>
                <div class="w-100 pr-3">
                    <span>Home Repairing</span>
                    <span class="float-right">20$/hr</span>
                </div>
            </div>
            <hr class="mt-4 ml-3 mr-3" />
            <div class="mt-0 ml-3">
                <p class="mb-0"><b>I'm the right person for the job:</b></p>
                <p>I have supplies and resources available for helping you with your repairing</p>
            </div>
        </div>
    </div>
</div>
