<div class="modal-dialog modal-ms" style="margin-top: 10%; " >
    <div class="modal-content">
      <div class="mat-elevation-z8">
          <div class="card height-auto">
              <div class="card-body">
                  <div class="heading-layout1">
                      <div class="modal-header">
                        <h2>ForgotPassword !!!!</h2>
                        <button data-dismiss="modal" (click)="back()" aria-label="Close" type="button" class="close btn btn-danger btn-sm"  style="color: red; background-color: white;"><i class="fas fa-times text-orange-red"></i>&nbsp;</button>       
                      </div>
                      <div class="modal-body">
                        <form  [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

                          <div class="form-group">
                              <label 
                                  class="font-weight-bold" 
                                  for="email"
                                  >Enter Your Email Address to send OTP: 
                                  <span 
                                  class="text-danger"
                                  >*</span>
                              </label>
                              <input 
                                  type="email"                             
                                  class="form-control"
                                  formControlName="email"
                                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"                                
                                  placeholder="Enter your valid email">
                                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                      <div *ngIf="f.email.errors.required">Email is required</div>
                                  </div>
                          </div>

                        <div class="form-group"> 
                          <button [disabled]="loadingOTP" class="btn btn-block btn-primary"(click)="sendOTP()">
                          <span *ngIf="loadingOTP" class="spinner-border spinner-border-sm mr-1"></span>
                          Send OTP
                          </button>
                          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                        </div>

                        <div class="form-group">
                          <label 
                              class="font-weight-bold" 
                              for="OTP"
                              >Enter OTP: 
                              <span 
                              class="text-danger"
                              >*</span>
                          </label>
                          <input 
                              type="number"                             
                              class="form-control"
                              formControlName="OTP"
                              [ngClass]="{ 'is-invalid': submitted && f.OTP.errors }"                                
                              placeholder="Enter your OTP " required>
                              <div *ngIf="submitted && f.OTP.errors" class="invalid-feedback">
                                  <div *ngIf="f.OTP.errors.required">OTP is required</div>
                              </div>
                      </div>

                    <div class="form-group"> 
                      <button [disabled]="loadingforgot" class="btn btn-block btn-success"(click)="forgotPassword()">
                      <span *ngIf="loadingforgot" class="spinner-border spinner-border-sm mr-1"></span>
                      Change Password
                      </button>
                      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </div>

                          </form>
                      </div>
                      <div class="modal-footer">
                        @At<span style="color: orange;">Y</span>ourService
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>