<div class="modal-dialog modal-ms" style="margin-top: 10%; " >
    <div class="modal-content">
      <div class="mat-elevation-z8">
          <div class="card height-auto">
              <div class="card-body">
                  <div class="heading-layout1">
                      <div class="modal-header">
                        <h2>ForgotPassword !!!!</h2>
                        <button data-dismiss="modal" (click)="back()" aria-label="Close" type="button" class="close btn btn-danger btn-sm"  style="color: red; background-color: white;"><i class="fas fa-times text-orange-red"></i>&nbsp;</button>       
                      </div>
                      <div class="modal-body">
                            body
                      </div>
                      <div class="modal-footer">
                        footer
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>