<app-navbar></app-navbar>
<!-- Select your city -->
<div class="router">
<div class="container">
    <div class="row custom-section d-flex align-items-center">
        <div class="col-12 col-lg-4">
            <h1 class="fw-bold fs-1"><span style="color: #F57C47;">J</span>ust<span style="color: #F57C47;">D</span>ial For a Service</h1>
            <p style="color: #000;">Hand-picked professionals at your service.</p>           
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Where do u need a service</h5>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select Your City:
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item"  mat-list-item  routerLinkActive="list-item-active"  routerLink="#">Kolhapur</a>
                          <a  class="dropdown-item"  mat-list-item  routerLinkActive="list-item-active"  routerLink="#">Pune</a>
                          <a  class="dropdown-item"  mat-list-item  routerLinkActive="list-item-active"  routerLink="#">Mumbai</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <img src="./assets/bcg.jpg" />
        </div>
    </div>
</div>

<!-- Info section -->
<!-- Why our service -->
<div class="container">
    <div class="row p-4">
        <div class="col-md-6 mt-4">
            <h1 class="p-3">Why At Your Service</h1>
            <div class="d-flex">
                <i class="fas fa-hand-holding-usd p-3 fa-3x" style="color: #F57C47;"></i>
                <div class="mb-2 p-2">
                    <h4>Transparent Pricing</h4>
                    <span class="text-secondary">No hidden charges</span>
                </div>
            </div>
            <div class="d-flex">
                <i class="fas fa-users-cog p-3 fa-3x" style="color:#F57C47;"></i>
                <div class="p-2 mb-2">
                    <h4>Experts Only</h4>
                    <span class="text-secondary">Professionals are well trained</span>
                </div>
            </div>
            <div class="d-flex">
                <i class="fas fa-tools p-3 fa-3x" style="color: #F57C47;"></i>
                <div class="p-2">
                    <h4>Fully Equipped</h4>
                    <span class="text-secondary">We bring everything to get job done</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4" style="background-color: #DCEDF5;">
            <i class="fad fa-shield-check fa-9x p-4 mb-4"></i>
            <h1 class="ml-3">100% Quality Assured</h1>
        </div>
    </div>
</div>

<div class="container">
    <app-taskers></app-taskers>
</div>
<div class="container" style="padding-top: 20px;padding-bottom: 20px;margin-bottom: 10px;">
    <app-team></app-team>
</div>
<app-hfooter></app-hfooter>
</div>