:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mat-drawer{
    /* padding-top:10px ; */
    width: 350px;
}
.mat-drawer-container{
    
    height: 100%;
   }

.mat-drawer-content{
    width: auto;
    padding: 10px;
   overflow: scroll;
}

