:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mat-drawer{
    /* padding-top:10px ; */
    width: 350px;
    z-index: 1;
}
.mat-drawer-container{
    
    height: 700px;
   }

.mat-drawer-content{
    width: auto;
    padding: 10px;
   overflow: scroll;
}

html {
    display: grid;
    height: 100%;
  }
  
  body {
    background: #EEF2F7;
    display: grid;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }
  
  #container1 {
    position: relative;
    margin: auto;
    
    width: 700px;
    height: 300px;
  }
  
  h1 {
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5px;
    color: #FCFCFC;
    padding-bottom: 5px;
    text-transform: uppercase;
  }



p {
  margin-top: -5px;
  font-size: 0.5em;
  font-weight: 100;
  color: #5e5e5e;
  letter-spacing: 1px;
}


.loader-container{
 position: absolute;
 height: 100%;
 width: 100%;
 background: black;
 opacity: 0.8;
 z-index: 99;
  }



 
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px;
  font-family: "Lato", sans-serif;
}
footer p {
  color: #EF8D9C;
  letter-spacing: 2px;
}
footer a {
  color: #B0DB7D;
  text-decoration: none;
}
footer a:hover {
  color: #FFC39E;
} 
