<div class="modal-dialog">
    <div class="modal-content">
<div class="mat-elevation-z8">
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                      <div class="modal-header">
                        <button data-dismiss="modal" (click)="back()" aria-label="Close" type="button" class="close btn btn-danger btn-sm"  style="color: red; background-color: white;"><i class="fas fa-times text-orange-red"></i>&nbsp;</button>       
                      </div>
                     
                 
        
<div class="container">
        <div class="item-title">
            <h2>{{customerDto.firstName}} {{customerDto.lastName }}</h2>
        </div>
       
    <form [formGroup]="signupForm">
       
        <div class="form-group">
            <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                <label for="uploadImage">
                    <img [src]="imageURL" [alt]="customerDto.firstName" class="rounded-circle" width="200px">
                </label>
            </div>
            <input 
            type="file"
            id="uploadImage" 
            accept="image/*"   
            (change)="showPreview($event)" hidden/>
        
       </div>

    <div class="form-group">
        <label 
            class="font-weight-bold"
            >Email 
            <span
            class="text-danger"
            >*</span>
        </label>
        <input 
            type="email" 
            formControlName="email" 
            name="email"
            [(ngModel)]="customerDto.email"
            [value]="customerDto.email"
            class="form-control" 
            placeholder="Enter Valid Email" 
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            required>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
    </div>
    <div class="form-group">
        <label 
            class="font-weight-bold"
            >First Name 
            <span
            class="text-danger"
            >*</span>
        </label>
        <input 
            type="text" 
            formControlName="firstName" 
            name="firstName"
            [(ngModel)]="customerDto.firstName"
            [value]="customerDto.firstName"
            class="form-control" 
            placeholder="Enter First Name" 
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" 
            required>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">FirstName is required</div>
            </div>
    </div>

    <div class="form-group">
        <label 
            class="font-weight-bold"
            >Last Name 
            <span
            class="text-danger"
            >*</span>
        </label>
        <input 
            type="text" 
            formControlName="lastName" 
            name="lastName"
            [(ngModel)]="customerDto.lastName"
            [value]="customerDto.lastName"
            class="form-control" 
            placeholder="Enter Last Name" 
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" 
            required>
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">LastName is required</div>
            </div>
    </div>

    <div class="form-group">
        <label 
            class="font-weight-bold"
            >Phone Number</label>
        <input 
            type="text" 
            formControlName="mobile"
            name="mobile"
            [(ngModel)]="customerDto.mobile" 
            [value]="customerDto.mobile"
            [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
            placeholder="Enter valid phone"                                
            class="form-control" required>
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">mobile number is required</div>
            </div>
    </div>

    <div class="form-group">
        <label 
            class="font-weight-bold"
            >Street </label>
        <input 
            type="text" 
            formControlName="street"
            name="street"
            [(ngModel)]="customerDto.address[0].street"
            [value]="customerDto.address[0].street" 
            [ngClass]="{ 'is-invalid': submitted && f.address[0].street.errors }"
            placeholder="Enter Street"                                
            class="form-control" required>
            <div *ngIf="submitted && f.address[0].street.errors" class="invalid-feedback">
                <div *ngIf="f.address[0].street.errors.required">Street is required</div>
            </div>
    </div>

    <div class="form-group">
        <label 
            class="font-weight-bold"
            >City </label>
        <input 
            type="text" 
            formControlName="city"
            name="city"
            [(ngModel)]="customerDto.address[0].city"
            [value]="customerDto.address[0].city" 
            [ngClass]="{ 'is-invalid': submitted && f.address[0].city.errors }"
            placeholder="Enter City"                                
            class="form-control" required>
            <div *ngIf="submitted && f.address[0].city.errors" class="invalid-feedback">
                <div *ngIf="f.address[0].city.errors.required">City is required</div>
            </div>
    </div>

    <div class="form-group">
        <label 
            class="font-weight-bold"
            >State </label>
        <input 
            type="text" 
            formControlName="state"
            name="state"
            [(ngModel)]="customerDto.address[0].state"
            [value]="customerDto.address[0].state" 
            [ngClass]="{ 'is-invalid': submitted && f.address[0].state.errors }"
            placeholder="Enter State"                                
            class="form-control" required>
            <div *ngIf="submitted && f.address[0].state.errors" class="invalid-feedback">
                <div *ngIf="f.address[0].state.errors.required">State is required</div>
            </div>
    </div>

    <div class="form-group">
        <label 
            class="font-weight-bold"
            >Zipcode </label>
        <input 
            type="text" 
            formControlName="zipcode"
            name="zipcode"
            [(ngModel)]="customerDto.address[0].zipcode"
            [value]="customerDto.address[0].zipcode" 
            [ngClass]="{ 'is-invalid': submitted && f.address[0].zipcode.errors }"
            placeholder="Enter Zipcode"                                
            class="form-control" required>
            <div *ngIf="submitted && f.address[0].zipcode.errors" class="invalid-feedback">
                <div *ngIf="f.address[0].zipcode.errors.required">Street is required</div>
            </div>
    </div>

    <div class="form-group">
        <label class="font-weight-bold">Gender </label>
          <select 
            class="custom-select" 
            formControlName="gender"
            name="gender"
            placeholder="&nbsp;"
            [(ngModel)]="customerDto.gender"
            [value]="customerDto.gender"
            size="1"
            required>
            <option selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Date of Birth </label>
        <input 
            type="date" 
            formControlName="dob" 
            name="dob"
            [(ngModel)]="customerDto.dob"
            [value]="customerDto.dob"

            class="form-control" required>
    </div>
    <div class="form-group">
        <label 
            class="font-weight-bold"
            >Password 
            <span
            class="text-danger"
            >*</span>
        </label>
        <input 
            type="text" 
            formControlName="password" 
            name="password"
            [(ngModel)]="customerDto.password"
            [value]="customerDto.password"
            class="form-control" 
            placeholder="***************" 
            required>
    </div>

    <div class="form-group">
        <label 
            class="font-weight-bold"
            >Feedback </label>
            <input 
            type="text" 
            formControlName="feedback" 
            name="feedback"
            [(ngModel)]="customerDto.feedback"
            [value]="customerDto.feedback"
            class="form-control" 
            placeholder="***************" 
            >
      

    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-block btn-primary" (click)="update()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Update
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </div>
</form>
</div>

            </div>
        </div>
    </div>
</div>
</div>
</div>