<footer class="pt-5 pb-4 mt-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-info">About Us</h5>
                <hr class="mb-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore
                    et dolore magna aliqua. Ut enim minim veniam, nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. </p>

            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-info">Links</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text" style="text-decoration: none;"> Home </a>
                </p>
                <p>
                    <a href="#" class="text" style="text-decoration: none;"> About </a>
                </p>
                <p>
                    <a href="#" class="text" style="text-decoration: none;"> Services </a>
                </p>
                <p>
                    <a href="#" class="text" style="text-decoration: none;"> Contact </a>
                </p>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-info">Contact</h5>
                <hr class="mb-4">
                <p>
                    <i class="fas fa-home mr-3"></i>RIT Islampur, Sangli, IND
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i>xyz@ritindia.edu
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i>+123456789
                </p>
            </div>

        </div>

        <hr class="mb-4">
        <div class=" row d-flex justify-content-center">
            <div>
                <p> Copyright ©2020 All rights reserved by:
                    <a href="#" style="text-decoration: none;">
                        <strong class="text-info">At<span style="color: orange;">Y</span>ourService</strong>
                    </a>
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="text-center ">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text"><i class="fab fa-facebook fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text"><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class=" text"><i class="fab fa-google-plus fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class=" text"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>