<div class="modal-dialog  modal-lg" >
  <div class="modal-content">
<div class="mat-elevation-z8">
  <div class="card height-auto">
      <div class="card-body">
          <div class="heading-layout1">
                    <div class="modal-header">
                        <div class="text-primary item-title">
                            <h2>{{taskerDto.username}}</h2>
                        </div>
                        <button data-dismiss="modal" (click)="back()" aria-label="Close" type="button" class="close btn btn-danger btn-sm"  style="color: red; background-color: white;"><i class="fas fa-times text-orange-red"></i>&nbsp;</button>       
                    </div>
                   
               
      
<div class="container">
  <form [formGroup]="signupForm">
     
        <div class="row gutters">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
            <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                <label for="uploadImage">
                    <img [src]="imageURL" [alt]="taskerDto.username" width="100px" height="100px">
                </label>
            </div>
            <input 
            type="file"
            id="uploadImage" 
            accept="image/*"   
            (change)="showPreview($event)" hidden/>
       </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
            <label 
                class="font-weight-bold"
                >CreatedAt</label>
            <label 
            name="createdAt"
            >{{taskerDto.createdAt}}</label>
        </div>
        </div>

        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
                <label 
                  class="font-weight-bold"
                  >Job Type</label>
                  <input 
                  type="text" 
                  formControlName="jobtype" 
                  name="jobtype"
                  [(ngModel)]="taskerDto.jobtype"
                  [value]="taskerDto.jobtype"
                  class="form-control"  
                  >
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group" *ngIf="taskerDto.active==true">
                <label 
                  class="font-weight-bold"
                  >Active</label>
                  <h1  style="color: green;"><i class="fas fa-dot-circle"></i></h1>
                  <h1  style="color: red;"><i class="fas fa-dot-circle"></i></h1>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group" *ngIf="taskerDto.active==false">
                <label 
                  class="font-weight-bold"
                  >Not Active</label>
                  <h1 *ngIf="taskerDto.active==false" style="color: red;"><i class="fas fa-dot-circle"></i></h1>
            </div>
        </div>
          
      
     
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
            <label 
                class="font-weight-bold"
                >Name 
                <span
                class="text-danger"
                >*</span>
            </label>
            <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
            <input 
                type="text" 
                formControlName="firstname" 
                name="firstname"
                [(ngModel)]="taskerDto.firstname"
                [value]="taskerDto.firstname"
                class="form-control" 
                placeholder="Enter First Name" 
                [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" 
                required>
                <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                    <div *ngIf="f.firstname.errors.required">firstname is required</div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">  
                <input 
                type="text" 
                formControlName="lastname" 
                name="lastname"
                [(ngModel)]="taskerDto.lastname"
                [value]="taskerDto.lastname"
                class="form-control" 
                placeholder="Enter Last Name" 
                [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" 
                required>
                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                    <div *ngIf="f.lastname.errors.required">lastname is required</div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="row gutters">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
            <label 
                class="font-weight-bold"
                >Username 
                <span
                class="text-danger"
                >*</span>
            </label>
            <input 
                type="text" 
                formControlName="username" 
                name="username"
                [(ngModel)]="taskerDto.username"
                [value]="taskerDto.username"
                class="form-control" 
                placeholder="Enter  User Name" 
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" 
                required>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">username is required</div>
                </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
            <label class="font-weight-bold">Date of Birth </label>
            <input 
                type="date" 
                formControlName="dob" 
                name="dob"
                [(ngModel)]="taskerDto.dob"
                [value]="taskerDto.dob"
        
                class="form-control" required>
        </div>
    </div>

<div class="row gutters">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
        <label 
            class="font-weight-bold"
            >Email 
            <span
            class="text-danger"
            >*</span>
        </label>
        <input 
            type="email" 
            formControlName="email" 
            name="email"
            [(ngModel)]="taskerDto.email"
            [value]="taskerDto.email"
            class="form-control" 
            placeholder="Enter Valid Email" 
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            required>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
        <label 
            class="font-weight-bold"
            >Phone Number</label>
        <input 
            type="text" 
            formControlName="mobile"
            name="mobile"
            [(ngModel)]="taskerDto.mobile" 
            [value]="taskerDto.mobile"
            [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
            placeholder="Enter valid phone"                                
            class="form-control" required>
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">mobile number is required</div>
            </div>
    </div>
</div>

  <div class="row gutters">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
      <label 
          class="font-weight-bold"
          >Education
          <span
          class="text-danger"
          >*</span>
      </label>
      <input 
          type="text" 
          formControlName="education" 
          name="education"
          [(ngModel)]="taskerDto.education"
          [value]="taskerDto.education"
          class="form-control" 
          placeholder="Enter Your Education" 
          [ngClass]="{ 'is-invalid': submitted && f.education.errors }" 
          required>
          <div *ngIf="submitted && f.education.errors" class="invalid-feedback">
              <div *ngIf="f.education.errors.required">Education is required</div>
          </div>
        </div>
 
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
    <label 
        class="font-weight-bold"
        >Password 
        <span
        class="text-danger"
        >*</span>
    </label>
    <input 
        type="text" 
        formControlName="password" 
        name="password"
        [(ngModel)]="taskerDto.password"
        [value]="taskerDto.password"
        class="form-control" 
        placeholder="***************" 
        required>
        </div>
  </div>

    <div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
      <label 
          class="font-weight-bold"
          >Address </label>
          <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group"> 
        <input 
          type="text" 
          formControlName="street"
          name="street"
          [(ngModel)]="taskerDto.address[0].street"
          [value]="taskerDto.address[0].street" 
          [ngClass]="{ 'is-invalid': submitted && f.address[0].street.errors }"
          placeholder="Enter Street"                                
          class="form-control" required>
          <div *ngIf="submitted && f.address[0].street.errors" class="invalid-feedback">
              <div *ngIf="f.street.errors.required">Street is required</div>
          </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group"> 
          <input 
          type="text" 
          formControlName="city"
          name="city"
          [(ngModel)]="taskerDto.address[0].city"
          [value]="taskerDto.address[0].city" 
          [ngClass]="{ 'is-invalid': submitted && f.address[0].city.errors }"
          placeholder="Enter City"                                
          class="form-control" required>
          <div *ngIf="submitted && f.address[0].city.errors" class="invalid-feedback">
              <div *ngIf="f.address[0].city.errors.required">City is required</div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
          <input 
          type="text" 
          formControlName="state"
          name="state"
          [(ngModel)]="taskerDto.address[0].state"
          [value]="taskerDto.address[0].state" 
          [ngClass]="{ 'is-invalid': submitted && f.address[0].state.errors }"
          placeholder="Enter State"                                
          class="form-control" required>
          <div *ngIf="submitted && f.address[0].state.errors" class="invalid-feedback">
              <div *ngIf="f.address[0].state.errors.required">state is required</div>
          </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 form-group">
          <input 
          type="text" 
          formControlName="pincode"
          name="pincode"
          [(ngModel)]="taskerDto.address[0].pincode"
          [value]="taskerDto.address[0].pincode" 
          [ngClass]="{ 'is-invalid': submitted && f.address[0].pincode.errors }"
          placeholder="Enter Pincode"                                
          class="form-control" required>
          <div *ngIf="submitted && f.address[0].pincode.errors" class="invalid-feedback">
              <div *ngIf="f.address[0].pincode.errors.required">pincode is required</div>
          </div>
          </div>
        </div>
    </div>

    
    </div>

  <div class="form-group">
      <button [disabled]="loading" class="btn btn-block btn-primary" (click)="update()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Update
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </div>
</form>
</div>

          </div>
      </div>
  </div>
</div>
</div>
</div>