<div class="modal-dialog  modal-lg" >
  <div class="modal-content">
<div class="mat-elevation-z8">
  <div class="card height-auto">
      <div class="card-body">
          <div class="heading-layout1">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" (click)="back()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Close</h4>
                    </div>
                   
               
      
<div class="container">
      <div class="item-title">
          <h2>{{taskerDto.username}}</h2>
      </div>
     
  <form [formGroup]="signupForm">
     <div class="row">
        <div class="row">
        <div class="col-sm-6 form-group">
            <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                <label for="uploadImage">
                    <img [src]="imageURL" [alt]="taskerDto.username" class="rounded-circle" width="200px">
                </label>
            </div>
            <input 
            type="file"
            id="uploadImage" 
            accept="image/*"   
            (change)="showPreview($event)" hidden/>
        
       </div>
  
        <div class="col-sm-6 form-group">
            <label 
                class="font-weight-bold"
                >CreatedAt</label>
            <label 
            name="createdAt"
            >{{taskerDto.createdAt}}</label>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group center">
                <label 
                  class="font-weight-bold"
                  >Job Type</label>
                  <input 
                  type="text" 
                  formControlName="jobtype" 
                  name="jobtype"
                  [(ngModel)]="taskerDto.jobtype"
                  [value]="taskerDto.jobtype"
                  class="form-control"  
                  >
            </div>
            <div class="col-sm-6 form-group center">
                <label 
                  class="font-weight-bold"
                  >Active</label>
                  <h1>{{taskerDto.active}}<i class="fas fa-dot-circle"></i></h1>
                  
            </div>
        </div>
          
     </div>
      
     
    <div class="row">
        
        <div class="col-sm-6 form-group">
            <label 
                class="font-weight-bold"
                >Name 
                <span
                class="text-danger"
                >*</span>
            </label>
            <input 
                type="text" 
                formControlName="name" 
                name="name"
                [(ngModel)]="taskerDto.name"
                [value]="taskerDto.name"
                class="form-control" 
                placeholder="Enter Your Full Name" 
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" 
                required>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">name is required</div>
                </div>
        </div>
        <div class="col-sm-6 form-group">
            <label 
                class="font-weight-bold"
                >Username 
                <span
                class="text-danger"
                >*</span>
            </label>
            <input 
                type="text" 
                formControlName="name" 
                name="name"
                [(ngModel)]="taskerDto.name"
                [value]="taskerDto.name"
                class="form-control" 
                placeholder="Enter Your Full Name" 
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" 
                required>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">name is required</div>
                </div>
        </div>
        
      
      
    </div>
<div class="row">
    <div class="col-sm-6 form-group">
        <label 
            class="font-weight-bold"
            >Email 
            <span
            class="text-danger"
            >*</span>
        </label>
        <input 
            type="email" 
            formControlName="email" 
            name="email"
            [(ngModel)]="taskerDto.email"
            [value]="taskerDto.email"
            class="form-control" 
            placeholder="Enter Valid Email" 
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            required>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
    </div>
    <div class="col-sm-6 form-group">
        <label 
            class="font-weight-bold"
            >Phone Number</label>
        <input 
            type="text" 
            formControlName="mobile"
            name="mobile"
            [(ngModel)]="taskerDto.mobile" 
            [value]="taskerDto.mobile"
            [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
            placeholder="Enter valid phone"                                
            class="form-control" required>
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">mobile number is required</div>
            </div>
        </div>
    </div>

  <div class="row">
      <div class="col-sm-6 form-group">
      <label 
          class="font-weight-bold"
          >Education
          <span
          class="text-danger"
          >*</span>
      </label>
      <input 
          type="text" 
          formControlName="education" 
          name="education"
          [(ngModel)]="taskerDto.education"
          [value]="taskerDto.education"
          class="form-control" 
          placeholder="Enter Your Education" 
          [ngClass]="{ 'is-invalid': submitted && f.education.errors }" 
          required>
          <div *ngIf="submitted && f.education.errors" class="invalid-feedback">
              <div *ngIf="f.education.errors.required">Education is required</div>
          </div>
  </div>

  <div class="col-sm-6 form-group">
    <label class="font-weight-bold">Date of Birth </label>
    <input 
        type="date" 
        formControlName="dob" 
        name="dob"
        [(ngModel)]="taskerDto.dob"
        [value]="taskerDto.dob"

        class="form-control" required>
</div>
<div class="form-group">
    <label 
        class="font-weight-bold"
        >Password 
        <span
        class="text-danger"
        >*</span>
    </label>
    <input 
        type="text" 
        formControlName="password" 
        name="password"
        [(ngModel)]="taskerDto.password"
        [value]="taskerDto.password"
        class="form-control" 
        placeholder="***************" 
        required>
</div>

  </div>

    <div class="row">
    <div class="col-sm-6 form-group">
      <label 
          class="font-weight-bold"
          >Address </label>
      <textarea 
          type="text" 
          formControlName="address"
          name="address"
          [(ngModel)]="taskerDto.address"
          [value]="taskerDto.address" 
          [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
          placeholder="Enter Address"                                
          class="form-control" required></textarea>
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">address is required</div>
          </div>
    </div>

    <div class="col-sm-6 form-group">
      <label 
          class="font-weight-bold"
          >Pincode</label>
      <input 
          type="text" 
          formControlName="pincode"
          name="pincode"
          [(ngModel)]="taskerDto.pincode"
          [value]="taskerDto.pincode" 
          [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }"
          placeholder="Enter valid pincode"                                
          class="form-control" required>
          <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
              <div *ngIf="f.pincode.errors.required">pincode is required</div>
          </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-6 form-group">
        <label class="font-weight-bold">Password </label>
        <input
          class="form-control" 
          formControlName="password"
          name="password"
          [(ngModel)]="taskerDto.password"
          [value]="taskerDto.password"
          required>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
    </div>
    </div>

  <div class="form-group">
      <button [disabled]="loading" class="btn btn-block btn-primary" (click)="update()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Update
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </div>
</form>
</div>

          </div>
      </div>
  </div>
</div>
</div>
</div>