<app-navbar></app-navbar>
<mat-card>
   
<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Personal Details are required." [editable]="true">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill Your Details</ng-template>
        <mat-card>
        <div class="container">
            <h1>Personal Details</h1>
            <div class="row" >
                <div class="col-sm-6 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput placeholder="Placeholder" formControlName="firstname" [(ngModel)]="bookingDto.c_firstName" [value]="bookingDto.c_firstName" required>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput placeholder="Placeholder" formControlName="lastname" [(ngModel)]="bookingDto.c_lastName" [value]="bookingDto.c_lastName"  required>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input type="number" matInput placeholder="Placeholder" formControlName="phone" [(ngModel)]="bookingDto.phone" [value]="bookingDto.phone"  required>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Placeholder" formControlName="email" [(ngModel)]="bookingDto.email" [value]="bookingDto.email"  required>
                    </mat-form-field>
                </div>                
            </div>
            <h1>Address</h1>
            <div class=" row " >
              
                <div class="col-sm-6 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Street</mat-label>
                        <input type="text" matInput placeholder="Placeholder" formControlName="street" [(ngModel)]="bookingDto.address[0].street" [value]="bookingDto.address[0].street"  required>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input type="text" matInput placeholder="Placeholder" formControlName="city" [(ngModel)]="bookingDto.address[0].city" [value]="bookingDto.address[0].city" required>
                    </mat-form-field>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <input type="text" matInput placeholder="Placeholder" formControlName="state" [(ngModel)]="bookingDto.address[0].state" [value]="bookingDto.address[0].state" required>
                    </mat-form-field>
                </div>                
                <div class="col-sm-6 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Zip Code</mat-label>
                        <input type="number" matInput placeholder="Placeholder" formControlName="zipcode" [(ngModel)]="bookingDto.address[0].zipcode" [value]="bookingDto.address[0].zipcode" required>
                    </mat-form-field>
                </div>                
            </div>
            <div style="float:right;">
                <button mat-button matStepperNext style="background-color: darkcyan;">Next</button>
            </div>
        </div>
        </mat-card>
      </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup" errorMessage="Select task Operation is required." [editable]="true">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Task Operation</ng-template>
        <mat-card>
            <div class="container">
                <div class="row " style="margin-bottom: 3%;">
                    <div class="col-12">
                    <mat-label style="font-weight: 300; font-size: 200%;color:teal;">Task Options </mat-label>
                    <br>
                        <label  style="margin-bottom:2%;font-weight: 100; font-size: 100%;">How big is your Task?</label>
                        <mat-radio-group class="d-flex justify-content-around mb-4" formControlName="selecthr" [(ngModel)]="bookingDto.taskOption" required>
                          <mat-radio-button  value='onehr' >small-Est.1 hr</mat-radio-button>
                          <mat-radio-button  value='twohr' >small-Est.2-3 hr</mat-radio-button>
                          <mat-radio-button  value='fourhr' >small-Est.4+ hr</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    <mat-label style="font-weight: 300; font-size: 200%;color:teal;">How big is your task?</mat-label>
                    <br>
                        <label class="example-margin" style="font-weight: 100; font-size: 100%;">Start the conversation and tell your Tasker what you need done. 
                            This helps us show you only qualified and available Taskers for the job.</label>
                        <br>
                        <mat-form-field appearance="outline">
                            <textarea type="text" matInput placeholder="Placeholder" formControlName="description" [(ngModel)]="bookingDto.description" required></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card>
        <div style="float: right;">
          <button mat-button matStepperPrevious style="background-color: lightslategrey;">Back</button>&nbsp;
          <button mat-button matStepperNext style="background-color: teal;">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" errorMessage="Select tasker is required.">
        <!-- <form [formGroup]="thirdFormGroup"> -->
          <ng-template matStepLabel>Select Tasker</ng-template>
        <div *ngFor="let tasker of taskers">
          <div class="tasker-select" (click)="taskerSelected(tasker.id)" style="background-color: silver;" *ngIf="tasker.id==bookingDto.taskerId">
            <input type="radio" name="taskername" [value]="tasker.id" checked>
            <div class="d-flex align-items-center w-100 flex-wrap align-content-center justify-content-center">
                <img [src]="tasker.imagePath" *ngIf="tasker.imagePath!=''" alt="" width="100px" height="15px"
                    class="img-fluid rounded-circle mb-2 img-thumbnail shadow-sm">
                <img src="../../../assets/dp.png" *ngIf="tasker.imagePath==''" alt="" width="100px" height="15px"
                    class="img-fluid rounded-circle mb-2 img-thumbnail shadow-sm">
                <div class="mb-2 p-2 ml-3" style="flex: 1;">
                    <h5 class="font-weight-normal">{{tasker.firstname}} {{tasker.lastname}}</h5>
                    <p class="text-secondary">{{tasker.address[0].street}}, {{tasker.address[0].city}},{{tasker.address[0].state}},{{tasker.address[0].zipcode}}</p>
                    <p><i class="fas fa-check-circle"></i> {{tasker.completedTasks}} of completed tasks</p>
                </div>
                <div style="align-self: flex-start;">
                    <h5>RS 450/hr</h5>
                    <span class="badge badge-pill badge-info">Great Value</span>
                </div>
            </div>
           </div>

           <div class="tasker-select" (click)="taskerSelected(tasker.id)" *ngIf="tasker.id!=bookingDto.taskerId">
            <input type="radio" name="taskername" value="tasker1"  >
            <div class="d-flex align-items-center w-100 flex-wrap align-content-center justify-content-center">
                <img [src]="tasker.imagePath" *ngIf="tasker.imagePath!=''" alt="" width="100px" height="15px"
                    class="img-fluid rounded-circle mb-2 img-thumbnail shadow-sm">
                <img src="../../../assets/dp.png" *ngIf="tasker.imagePath==''" alt="" width="100px" height="15px"
                    class="img-fluid rounded-circle mb-2 img-thumbnail shadow-sm">
                <div class="mb-2 p-2 ml-3" style="flex: 1;">
                    <h5 class="font-weight-normal">{{tasker.firstname}} {{tasker.lastname}}</h5>
                    <p class="text-secondary">{{tasker.address[0].street}}, {{tasker.address[0].city}},{{tasker.address[0].state}},{{tasker.address[0].zipcode}}</p>
                    <p><i class="fas fa-check-circle"></i> {{tasker.completedTasks}} of completed tasks</p>
                </div>
                <div style="align-self: flex-start;">
                    <h5>RS 450/hr</h5>
                    <span class="badge badge-pill badge-info">Great Value</span>
                </div>
            </div>
           </div>
        </div>
          <div style="float: right;">
            <button mat-button matStepperPrevious style="background-color: gray;">Back</button>&nbsp;
            <button mat-button matStepperNext style="background-color: teal;">Next</button>
          </div>
        <!-- </form> -->
      </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <p>{{firstFormGroup.value | json}}</p>
      <p>{{secondFormGroup.value | json}}</p>
      <p>{{bookingDto.taskerId | json}}</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button [disabled]="loading" class="btn btn-block btn-primary" (click)="book()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
        </button>
    </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal fadein" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><span style="color: red;">Login</span></h4>
            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">X</span></button>
        </div>
        <div class="modal-body">
          <p>If you are not login. Please Login or Register First.</p>
          <a type="button"  mat-button style="background-color: paleturquoise;" routerLinkActive="list-item-active"  routerLink="/customerlogin">Login / Register</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
   </div><!-- /.modal !-->