.mat-form-field {
    margin-top: 16px;
    width: 100%;
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  .tasker-select{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.tasker-select:hover{
  background-color: silver;
  cursor: pointer;
}
.tasker-select:active{
  background-color: silver;
}
.tasker-select:checked{
  background-color: silver;
}