<app-navbar></app-navbar>
<div>
    <div class="container-fluid home-img" style="background-image: url('../../../../assets/services/{{Service}}.jpg');">
        <div class="d-flex justify-content-left">
            <ol class="breadcrumb shadow-lg bg-light m-4">
                <li class="breadcrumb-item "><i class="fas fa-home"></i><a href="#"
                        class="pr-md-3 pl-md-2 pr-2 pl-1 ">Home</a></li>
                <li class="breadcrumb-item "><a (click)="back()" class="px-md-3 px-1 my-3">{{City}}</a></li>
                <li class="breadcrumb-item "><a  class="px-md-3 px-1 active-1">{{Service}} At Home</a> </li>
            </ol>
        </div>
        <h1 class="text-purple mt-4 ml-3 p-3"><span style="color: orangered;"> {{Service}}</span> at Home in {{City}}</h1>
        <ul class="m-4 li-items">
            <li class="text-white">Branded Products are used</li>
            <li class="text-white">On Time Services</li>
            <li class="text-white">Hygiene Friendly: Disposable items are used</li>
        </ul>
    </div>
    <div class="container">
            <div class="row">
                <div class="w-100 shadow p-4 mb-3 bg-white rounded d-flex justify-content-between flex-nowrap">
                    <li class="list-inline-item  text-link"><a href="#how-works">How It Works</a></li>
                    <li class="list-inline-item  text-link"><a href="#paint">{{Service}}</a></li>
                    <li class="list-inline-item  text-link"><a href="#faqs">FAQs</a></li>
                    <li class="list-inline-item  text-link"><a href="#paint-info">About {{Service}} at
                            Home</a>
                    </li>
                </div>
                <div class="p-4 shadow mt-4 w-100" id="how-works">
                    <h4 class="text-link">How It Works</h4>
                    <hr>
                    <div class="d-flex">
                        <i class="fab fa-servicestack fa-2x p-3"></i>
                        <div class="mb-2 p-2 ml-3">
                            <h4 class="text-normal">Choose the type of Service</h4>
                            <span class="text-secondary">Select the service required</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fas fa-envelope-open-text fa-2x p-3"></i>
                        <div class="mb-2 p-2 ml-3">
                            <h4 class="text-normal">Share your requirements</h4>
                            <span class="text-secondary">Provide all the essential requirements</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fas fa-stopwatch fa-2x p-3"></i>
                        <div class="mb-2 p-2 ml-3">
                            <h4 class="text-normal">Choose your time slot</h4>
                            <span class="text-secondary">We service from 10am-5pm</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fas fa-user-shield fa-2x p-3"></i>
                        <div class="mb-2 p-2 ml-2">
                            <h4 class="text-normal">Hassle free service</h4>
                            <span class="text-secondary">Our professionals will contact as soon as possible</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="paint" >
                <div class="p-4 shadow mt-4 w-100">
                    <h4 class="text-link">{{Service}}</h4>
                    <span class="text-secondary">no. {{Service}} in city</span>
                    <hr>
                    <div  *ngFor="let tasker of taskers">
                        <div class=" tasker d-flex align-items-center"  routerLinkActive="list-item-active"  routerLink="/bookForm">
                        <img [src]="tasker.imagePath" alt="" width="100px" height="15px"
                            class="img-fluid rounded-circle mb-2 img-thumbnail shadow-sm">
                        <img src="../../../../assets/dp.png" *ngIf="tasker.imagePath==''" alt="" width="100px" height="15px"
                            class="img-fluid rounded-circle mb-2 img-thumbnail shadow-sm">
                        <div class="mb-2 p-2 ml-3">
                            <h4 class="text-normal">{{tasker.name}}</h4>
                            <i class="fas fa-check-circle">
                                <span class="text-warning">{{tasker.completedTasks}}completed tasks</span>
                            </i>
                            <div class="mt-0 ml-3">
                                <p class="text-secondary">Featured Skills</p>
                                <div class="w-100 pr-auto" *ngFor="let skill of tasker.skills">
                                    <span class="mb-1">{{skill.skillname}}</span>
                                    <span class="float-right">{{skill.charges}}$/hr</span>
                                </div>
                            </div>
                
                            <p class="text-secondary">{{tasker.address.city}}</p>
                            <i class="fas fa-star text-success"></i>
                            <span class="text-success">3.7</span>
                            <span>( ratings)</span>
                            <div>
                                Reviews
                            </div>
                        </div>
                    </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="p-4 shadow mt-4 w-100" id="faqs">
                    <h4 class="text-link mb-3">Frequently Asked Questions</h4>
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="text-normal" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What if I don’t know what haircut looks best on me??
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p >Our highly educated stylists offer a thorough consultation to help give you
                                            the cut and style you are looking for. They will take into consideration
                                            your facial features, styling needs and daily routine to give you the best
                                            look for your lifestyle. Our stylists will be happy to assist you with
                                            choosing a style and offer advice on how to maintain your hair after you
                                            leave our salon.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="text-normal" class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            How long will my highlights last?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>Even though our highlights are usually done with permanent color, eventually
                                            they will grow out within 5-8 weeks. We recommend having your highlights
                                            touched up every 6 weeks.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="text-normal" class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            What are its hours of operation?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>From Monday to Sunday, 10:00 Am - 7:30 Pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="paint-info">
                <div class="p-4 shadow mt-4 w-100">
                    <h4 class="text-link mb-4 ">About {{Service}} at Home</h4>
                    <p class="text-body">Styling has never been limited to women. The art of looking handsome and
                        getting makeovers has its own story for men and one cannot imagine the number of styles and
                        treatments that can be done on these hunks. Moreover, the desire to have a unique identity is
                        everyone's' want and At Ur Service Salon makes that possible. From grooming to beauty sessions,
                        we offer a wide range of services and treatments that every man wishes to get. Our
                        professionally trained stylists and experts leave no stone unturned to give you the best look
                        that would do all the talking and make your style better than the best</p>
                </div>
            </div>
        
        <div class="helper-card">
            <div class="card card-shadow">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 class="text-side">Ready to hire a Tasker?</h3>
                    <a href="#" class="btn btn-success btn-lg m-4 rounded ">Find help now</a>
                </div>
                <div class="row p-2 m-2 d-flex justify-content-center flex-column align-items-center">
                    <div>
                        <i class="fas fa-star fa-2x text-success text-center">
                            <span class="text-success">4.4/5</span>
                        </i>
                        <p class="text-white">Based on no ratings</p>
                    </div>
                    <div>
                        <h3 class="text-success text-center font-weight-bold">0001</h3>
                        <p class="text-white">Bookings done in last 1 year</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-hfooter></app-hfooter>