.service {
    font-family: "Poppins", sans-serif;
    color: #000;
  }
  
  .row-flex {
    display: flex;
    flex-wrap: wrap;
    width: 150%;
    justify-content: center;
  }
  
  .shadow {
    min-width: 700px;
    max-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .card-shadow {
    -webkit-box-shadow: 9px 9px 5px 0px rgba(12, 25, 94, 0.75);
    -moz-box-shadow: 9px 9px 5px 0px rgba(12, 25, 94, 0.75);
    box-shadow: 9px 9px 5px 0px rgba(12, 25, 94, 0.75);
    background-color: #07042c;
    width: 29rem;
  }
  
  #accordion .panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 15px;
  }
  
  #accordion .panel-heading {
    padding: 0;
  }
  
  #accordion .panel-title a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
    background: #fff;
    border: none;
    border-bottom: 2px solid #06cde7;
    padding: 15px 20px 15px 47px;
    position: relative;
    transition: all 0.5s ease 0s;
  }
  
  #accordion .panel-title a.collapsed {
    border-bottom-color: #ddd;
    color: rgba(17, 17, 17, 0.822);
  }
  
  #accordion .panel-title a:before {
    font-family: FontAwesome;
    content: "\f106";
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 20px;
    transition: all 0.3s ease 0s;
  }
  
  #accordion .panel-title a.collapsed:before {
    content: "\f107";
  }
  
  #accordion .panel-body {
    font-size: 15px;
    color: #111;
    line-height: 25px;
    background: #f6f6f6;
    border: none;
    padding: 14px 20px;
  }
  
  li a {
    color: #000;
  }
  
  li a:hover {
    color: #000;
    text-decoration: none;
  }
  
  .text-body {
    color: #000;
    font-weight: 1000 !important;
  }
  .text-link {
    color: #000;
    font-size: 20px;
    font-weight: 800 !important;
  }
  .text-normal {
    font-size: 18px;
    font-weight: 400 !important;
  }
  .text-side {
    color: white;
    font-size: 30px;
  }
  .text-white {
    font-size: 18px;
  }
  h1 {
    font-size: 2.5rem;
  }
  
  .home-img {
    position: relative;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* .text-color{
    color: rgba(37, 33, 33, 0.616);
  } */
  .helper-card {
    position: fixed;
    width: 500px;
    right: 25px;
    top: 8rem;
  }
  .container {
    position: relative;
    width: auto;
  }
  @media only screen and (max-width: 1080px) {
    .helper-card {
      position: relative;
      margin-left: 10px;
      top: 0;
      right: 0;
    }
  }
  .li-items {
    font-size: small;
    color: #ddd;
    line-height: 50px;
  }
  
  .breadcrumb {
    background-color: transparent;
  }