<div class="mat-elevation-z8">
  <div class="card height-auto">
    <div class="card-body">
      <div class="heading-layout1">
        <div class="item-title">
          <h3>Employee Lists</h3>
        </div>
        <button (click)="refresh()"class="btn  btn-sm mr-1" style="color: rgb(103, 103, 238);" ><i class="fas fa-sync fa-spin"></i>&nbsp; Refresh</button>
        <div style="float:right">
          <button (click)="add()" data-toggle="modal" data-target="#deleteConfirmation"  class="btn btn-primary btn-sm mr-1" style="color: orange; background-color: white;"><i class="fas fa-pen-alt text-orange-peel" ></i>&nbsp; Add New Employee</button>
        </div>
      </div>
    
      <div class="table-responsive">
        <table id="example" class="table display data-table text-nowrap cell-border">
          <thead>
            <tr>
              <th>SR</th>
              <th>ID</th>
              <th>Name</th>
              <th>Username</th>
              <th>Skills</th>
              <th>CompletedTasks</th>
              <th>Education</th>
              <th>JobType</th>
              <th>Address</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>DOB</th>
              <th>CreatedAt</th>
              <th>Active</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees;let i=index;">    
              <td>{{ i+1 }}</td>
              <td>{{ employee.id}}</td>
              <td>{{ employee.firstname }} {{ employee.lastname }}</td>
              <td>{{ employee.username }}</td>
              <td><p *ngFor="let skill of employee.skills;">
                {{ skill.skillname }}</p></td>
              <td>{{ employee.completedTasks }}</td>
              <td>{{ employee.education }}</td>
              <td>{{ employee.jobtype }}</td>
              <td>{{ employee.address[0].street }},{{ employee.address[0].city }},<br>
                {{ employee.address[0].state }},{{ employee.address[0].pincode }}</td>
              <td>{{ employee.mobile }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.dob }}</td>
              <td>{{ employee.createdAt }}</td>
              <td>
                <div class="col-sm-4 " *ngIf="employee.active" style="color: green;">
                  <h4><i class="fas fa-dot-circle" style="color: green;"></i></h4>
                 </div>
                 <div class="col-sm-4 " *ngIf="!employee.active" style="color: red;">
                  <h4><i class="fas fa-dot-circle" style="color: red;"></i></h4>
                 </div>
              </td>
              <td>
              <button (click)="edit(employee.id)" data-toggle="modal" data-target="#deleteConfirmation"  class="btn btn-primary btn-sm mr-1" style="color: orange; background-color: white;"><i class="fas fa-pen-alt text-orange-peel" ></i>&nbsp;</button>
              <button (click)="view(employee.id)" data-toggle="modal" data-target="#deleteConfirmation"  class="btn btn-secondary btn-sm mr-1" style="color: blue; background-color: white;"><i class="fas fa-align-justify" ></i>&nbsp;</button>
              <button (click)="delete(employee.id)"   class="btn btn-danger btn-sm mr-1" style="color: red; background-color: white;"><i class="fas fa-times text-orange-red"></i>&nbsp;</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 
<mat-divider></mat-divider>
<div class="modal fade" id="deleteConfirmation" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <router-outlet [id]="id" (getlist)="getlist()"></router-outlet>  
</div>
<!-- <div class="modal fade" id="addConfirmation" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <router-outlet></router-outlet>  
</div> -->
