<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
  <mat-form-field>
    <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <a (click)="create()" mat-button color="primary">Create Owner</a>
    <a (click)="viewlist()" mat-button color="primary">View Owners</a>
  <div>

  </div>
  <mat-divider></mat-divider>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>