<div class="mat-elevation-z8">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Customer Lists</h3>
          </div>
        </div>
      
        <div class="table-responsive">
          <table id="example" class="table display data-table text-nowrap cell-border">
            <thead>
              <tr>
                <th>SR</th>
                <th>ID</th>
                <th>Name</th>
                <th>Service</th>
                <th>Address</th>
                <th>Pincode</th>
                <th>Mobile</th>
                <th>Gender</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers;let i=index;">
                <td>{{ i+1 }}</td>
                <td>{{ customer.id}}</td>
                <td>{{ customer.customername }}</td>
                <td>{{ customer.service }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.pincode }}</td>
                <td>{{ customer.mobile }}</td>
                <td>{{ customer.gender }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.dob }}</td>
                <td>
                <button (click)="edit(customer.id)" data-toggle="modal" data-target="#deleteConfirmation" style="color: orange; background-color: white;"><i class="fas fa-pen-alt text-orange-peel" ></i>&nbsp;</button>
                <button (click)="view(customer.id)" data-toggle="modal" data-target="#deleteConfirmation" style="color: blue; background-color: white;"><i class="fas fa-align-justify" ></i>&nbsp;</button>
                <button (click)="delete(customer.id)"  style="color: red; background-color: white;"><i class="fas fa-times text-orange-red"></i>&nbsp;</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div> 
  <mat-divider></mat-divider>
  <div class="modal fade" id="deleteConfirmation" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <router-outlet [id]="id" (getlist)="getlist()"></router-outlet>  
  </div>
  