<div class="mb-0">
<app-employee-navbar></app-employee-navbar>
</div>
<!-- Main body -->
<div class="Employee">
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
        <mat-spinner style="top: 50%;left: 50%;"></mat-spinner>
    </div>
    <div class="row glutters">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12" style="height: max-content;">
            <!-- <div class="card">
                <div class="card-body"> -->
                    <div class="account-settings" >
                        <div class="user-profile">
                            <div class="user-avatar">
                                <label for="imageUpload">
                                    <img  [src]="imageURL"  [alt]="username" class="img-thumbnail">
                                    <!-- <img  src="../../../assets/dp.png" *ngIf="taskerDto.imagePath=='https://justdialapi.herokuapp.com/images/undefined'" [alt]="username" > -->
                                </label>
                                <input 
                                type="file" 
                                id="imageUpload"
                                accept="image/*"
                                (change)="showPreview($event)" hidden/>
                            </div>
                            <h1 class="user-name" style="color: blueviolet;">{{username}}</h1>
                            <h2 style="color: lightseagreen;">{{ this.profileForm.get('jobtype').value}}</h2>
                        </div>
                        <div class="about" style="color: slateblue;">
                            <h3>I'm {{this.profileForm.get('firstname').value}} </h3>
                            <h3>Completed Tasks:{{this.profileForm.get('completedTasks').value}}</h3>
                            <br>
                            <h3>Contact No: {{this.profileForm.get('mobile').value}}</h3>
                            <!-- <p style="font-size:medium"></p> -->
                            <h3>Email: {{this.profileForm.get('email').value}}</h3>
                            <!-- <p style="font-size:medium"></p> -->
                        </div>
                    </div>
                <!-- </div>
            </div> -->
        </div>

        <!-- Tabs navs -->
        <div class="col-md-9">
            <ul class=" nav nav-pills nav-fill mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link font-weight-bold active" data-toggle="tab" href="#ex1-tabs-1" role="tab"
                        aria-controls="ex1-tabs-1" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font-weight-bold" data-toggle="tab" href="#ex1-tabs-2" role="tab"
                        aria-controls="ex1-tabs-2" aria-selected="false">Activities</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font-weight-bold" data-toggle="tab" href="#ex1-tabs-3" role="tab"
                        aria-controls="ex1-tabs-3" aria-selected="false">Notifications</a>
                </li>
            </ul>
            <div class="tab-content" id="ex1">
                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tabs-1">
                <!-- <div class="mat-elevation-z8"> -->
                    <div class="col-md-12">
                        <div class="card h-100" style="color:indigo;">
                            <div class="card-body">
                                <div [formGroup]="profileForm">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h3 class="mb-2 text-primary">Personal Details</h3>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="firstName">First Name</label>
                                            <input type="text" 
                                            class="form-control" 
                                            formControlName="firstname"
                                           
                                                placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" 
                                            class="form-control" 
                                            id="lastName"
                                            formControlName="lastname"
                                         
                                                placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" 
                                            class="form-control" 
                                            id="phone"
                                            formControlName="mobile"
                                           
                                                placeholder="Enter phone number">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="eMail">Email</label>
                                            <input type="email" 
                                            class="form-control" 
                                            id="email"
                                            formControlName="email"
                                           
                                                placeholder="Enter email ID">
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="gender">Gender</label>
                                            <input type="text" 
                                            class="form-control" 
                                            formControlName="gender"
                                           
                                                placeholder="Gender">
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="education">Education</label>
                                            <input type="text" 
                                            class="form-control" 
                                            formControlName="education"
                                         
                                                placeholder="Education">
                                        </div>
                                    </div>
                        
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="completedTasks">Completed Tasks</label>
                                            <input type="text" 
                                            class="form-control" 
                                            formControlName="completedTasks"
                                           
                                                placeholder="completed Task">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="jobtype">Job Type</label>
                                            <input type="text" 
                                            class="form-control" 
                                            formControlName="jobtype"
                                           
                                                placeholder="Job Type">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <table class="table table-bordered" formArrayName="skills" >
                                        <tr>
                                          <th colspan="2">Add Multiple Skill:</th>
                                          <th width="150px"><button type="button" (click)="addSkill()" class="btn btn-primary"><i class="fas fa-plus-square"></i></button></th>
                                        </tr>
                                        <tr *ngFor="let skill of skills().controls; let i=index" [formGroupName]="i">
                                          <td>
                                              Skillname :
                                              <input type="text" formControlName="skillname" class="form-control">
                                          </td>
                                          <td>
                                              Charges:
                                              <input type="text" formControlName="charges" class="form-control">
                                          </td>
                                          <td>
                                              <button (click)="removeSkill(i)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                          </td>
                                        </tr>
                                      </table>
                                </div>

                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                        <h3 class="mt-3 mb-2 text-primary">Address</h3>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="street">Street</label>
                                            <input type="text" 
                                            class="form-control" 
                                            id="Street"
                                            formControlName="street"
                                    
                                                placeholder="Enter Street">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="ciTy">City</label>
                                            <input type="text" class="form-control" 
                                            id="city"
                                            formControlName="city"
                                       
                                                placeholder="Enter City">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="sTate">State</label>
                                            <input type="text" 
                                            class="form-control" 
                                            id="sTate"
                                            formControlName="state"
                                          
                                                placeholder="Enter State">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="zIp">Pin Code</label>
                                            <input type="text" 
                                            class="form-control" 
                                            id="zIp" 
                                            formControlName="pincode"
                                         
                                            placeholder="Pin Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h3 class="mt-3 mb-2 text-primary">Credetials</h3>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="passowrd">Password</label>
                                            <input type="text" 
                                            class="form-control" 
                                            id="password"
                                            formControlName="password"
                                         
                                                placeholder="Enter Password">
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">
                                            <button 
                                                class="btn btn-danger">Clear</button>
                                                &nbsp;
                                            <button [disabled]="loading" (click)="update()"
                                                class="btn btn-primary">
                                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                                Update</button>
                                        </div>
                                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- {{ this.profileForm.value | json}} -->
                </div>
                <!-- </div> -->
                <div class="tab-pane" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tabs-2">
                    <!-- <div class="mat-elevation-z8" > -->
                        <div class="card height-auto" >
                          <div class="card-body">
                            <div class="heading-layout1">
                              <div class="item-title">
                                <h2 style="color: black;">Activities</h2>
                              </div>
                              <button (click)="refresh()"class="btn  btn-sm mr-1" style="color: rgb(103, 103, 238);" ><i class="fas fa-sync fa-spin"></i>&nbsp; Refresh</button>
                            </div>
                    
                            <div class="table-responsive" >
                            <table id="example" class="table display data-table text-nowrap cell-border" >
                                <thead>
                                     <tr>
                                        <th>Id</th>
                                        <th>Customer</th>
                                        <th>Order Date</th>
                                        <th>Address</th>
                                        <th>Net Amount</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let request of requests;let i=index;"(click)="view(request)" style="cursor:pointer;" >
                                        <td>{{i+1}}</td>
                                        <td><a >{{request.c_firstName}} {{request.c_lastName}}</a></td>
                                        <td>{{request.createdAt}}</td>
                                        <td>{{request.address[0].street}},{{request.address[0].city}}</td>
                                        <td>450 RS</td>
                                        <td *ngIf="request.status=='rebooked'"><span class="status text-info">&bull;</span> {{request.status}}</td>
                                        <td *ngIf="request.status=='pending'"><span class="status text-info">&bull;</span> {{request.status}}</td>
                                        <td *ngIf="request.status=='completed'"><span class="status text-success">&bull;</span> {{request.status}}</td>
                                        <td *ngIf="request.status=='canceled'"><span class="status text-danger">&bull;</span> {{request.status}}</td>
                                        <td>
                                            <a style="color: white;" class="btn-gray btn-success" data-dismiss="modal" *ngIf="request.isAccepted==false" (click)="action(request.id,'true')"  >
                                                <i class="far fa-times-circle"></i> Accept
                                            </a>
                                            <a style="color: white;" class="btn-gray btn-danger" data-dismiss="modal" *ngIf="request.isAccepted==true" (click)="action(request.id,'false')">
                                                <i class="far fa-check-circle"></i> Reject
                                            </a>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            </div>
                          </div>
                        </div>
                    <!-- </div> -->
                    <div class="mat-elevation-z8" [ngStyle]="{'display': show()}">
                                <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="text-info ">Accept Request</h3>
                                        </div>
                                         <div class="modal-body" >
                                        <h1 style="color:purple;">{{selected.c_firstName}} {{selected.c_lastName}}</h1>
                                       <div style="display: inline-flex;"> 
                                            <span style="color:darkslategrey;"> Email: <h2 style="color: teal;">{{selected.email}} </h2></span> 
                                            &nbsp;&nbsp;&nbsp; 
                                            <span style="color:darkslategrey;">Phone: <h2 style="color: teal;">{{selected.phone}} </h2></span>  
                                        </div>
                                           <h3 style="color:black;">Description:{{selected.description}}</h3>
                                           <h4 style="color:darkslategrey" *ngFor="let address of selected.address; let i=index;">Address:{{selected.address[i].street}},{{selected.address[i].city}}
                                              {{selected.address[i].state}}, {{selected.address[i].zipcode}}</h4>

                                        </div>
                                        <div class="modal-footer">
                                        <h3 *ngIf="selected.status=='rebooked'"><span class="status text-info">&bull; &nbsp; {{selected.status}}</span> </h3>
                                        <h3 *ngIf="selected.status=='pending'"><span class="status text-info">&bull;  &nbsp; {{selected.status}}</span> </h3>
                                        <h3 *ngIf="selected.status=='completed'"><span class="status text-success">&bull;  &nbsp; {{selected.status}}</span></h3>
                                        <h3 *ngIf="selected.status=='canceled'"><span class="status text-danger">&bull;  &nbsp; {{selected.status}}</span> </h3>
                                            <a  class="btn-gray btn-success ml-4" *ngIf='selected.isAccepted==true'>
                                                <i class="far fa-times-circle mr-2"></i> Accpeted
                                            </a>
                                            <a  class="btn-gray btn-danger ml-4" *ngIf='selected.isAccepted==false' >
                                                <i class="far fa-check-circle mr-2"></i> Rejected
                                            </a>
                                        </div>
                                </div>
                    </div>
                </div>
                <div class="tab-pane" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tabs-3">
                    <div class="col-md-12">
                        <div class="mat-elevation-z8">
                        <div class="book-card card-white mb-5">
                            <div class="card-heading clearfix border-bottom mb-4">
                                <h4 class="card-title">Booking Notifications</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li class="position-relative booking" *ngFor="let request of requests">
                                        <div class="mb-1">
                                            <h5 class="mb-1 text-primary">Your task is {{request.status}}</h5>
                                                <span class="mr-1 d-block d-sm-inline-block mb-2 mb-sm-0">Booking Date:</span>
                                                    <span>{{request.createdAt}}</span><br>
                                                    <span
                                                        class="mr-1 d-block d-sm-inline-block mb-2 mb-sm-0">Service Details:</span>
                                                    <span>{{request.description}}</span>
                                        </div>
                                
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabs navs -->
</div>
