<app-navbar></app-navbar>
<div >
    <div class="card">
        <img class="bd-placeholder-img bd-placeholder-img-lg card-img" width="100%" height="550"
            src="./assets/43039.jpg" aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice"
            role="img">
        <!-- <title>Placeholder</title> -->
        <div class="card-img-overlay">
            <div class="d-flex justify-content-center mt-5 mb-5">
                <h1 class="text-dark font-weight-bold">Home services, on demand</h1>
            </div>
            <div class="search d-flex justify-content-center">
                <!-- Example single danger button -->
                <div class="row-flex">
                    <!-- Actual search box -->
                    <div class="form-group has-search mr-3">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <div class="dropdown show">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{city}}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" (click)="selectCity('Pune')">Pune</a>
                            <a class="dropdown-item" (click)="selectCity('Mumbai')">Mumbai</a>
                            <a class="dropdown-item" (click)="selectCity('Kolhapur')">Kolhapur</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sdiv d-flex w-100 justify-content-between flex-wrap bg-white">
                <div class="servs-align">
                    <a (click)="submit('Painters')">
                    <img class="rounded mx-auto" src="./assets/painter_thumb.jpg" alt="barber" height="60px"
                        width="60px" />
                    <h6>Painters</h6>
                    </a>
                </div>
                <div class="servs-align">
                    <a (click)="submit('Salon For Women')"> 
                    <img class="rounded mx-auto" src="./assets/salon_women_thumb.jpg" alt="Hairdresser"
                        height="60px" width="60px" />
                    <h6>Salon For Women</h6>
                    </a>
                </div>
                <div class="servs-align">
                   <a (click)="submit('Salon For Men')">
                    <img class="rounded mx-auto" src="./assets/salon_men_thumb.jpg" alt="barber" height="60px"
                        width="60px" />
                    <h6>Salon For Men</h6>
                    </a>
                </div>
                <div class="servs-align">
                    <a (click)="submit('Appliance Repairers')">
                    <img class="rounded mx-auto" src="./assets/appliance_thumb.jpg" alt="barber" height="60px"
                        width="60px" />
                    <h6>Appliance Repair</h6>
                    </a>
                </div>
                <div class="servs-align">
                   <a (click)="submit('Electrician')">
                    <img class="rounded mx-auto" src="./assets/electrician_thumb.jpg" alt="barber" height="60px"
                        width="60px" />
                    <h6>Electrician</h6>
                    </a>
                </div>
                <div class="servs-align">
                    <a (click)="submit('Plumbers')">
                    <img class="rounded mx-auto" src="./assets/plumber_thumb.jpg" alt="barber" height="60px"
                        width="60px" />
                    <h6>Plumbers</h6>
                    </a>
                </div>
                <div class="servs-align">
                    <a (click)="submit('Carpenters')">
                    <img class="rounded mx-auto" src="./assets/carpenter_thumb.jpg" alt="barber" height="60px"
                        width="60px" />
                    <h6>Carpenters</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf='Showservice'>
    <app-service></app-service>
</div> -->

