<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" (click)="back()" aria-label="Close" type="button" class="close btn btn-danger btn-sm"  style="color: red; background-color: white;"><i class="fas fa-times text-orange-red"></i>&nbsp;</button>       
      </div>
      <div class="modal-body">
        <form [formGroup]="signupForm">
    <div class="row glutters">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12  form-group">
        <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
            <label for="uploadImage">
                <img [src]="adminDto.imagePath" [alt]="adminDto.username"  width="150px" height="150px">
            </label>
        </div>
        <input 
        type="file"
        id="uploadImage" 
        accept="image/*"   
        (change)="showPreview($event)" hidden/>
      </div>
      <div class="column col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 "> 
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  form-group">
          <label 
              class="font-weight-bold"
              >Name
              <span
              class="text-danger"
              >*</span>
          </label>
          <input 
              type="text" 
              formControlName="name" 
              name="name"
              [(ngModel)]="adminDto.name"
              [value]="adminDto.name"
              class="form-control" 
              placeholder="Enter Valid Name" 
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              required>
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
        </div>
  
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  form-group">
          <label 
              class="font-weight-bold"
              >Username 
              <span
              class="text-danger"
              >*</span>
          </label>
          <input 
              type="text" 
              formControlName="username" 
              name="username"
              [(ngModel)]="adminDto.username"
              [value]="adminDto.username"
              class="form-control" 
              placeholder="Enter Valid Username" 
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              required>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
        </div>
      </div>
  
        
  </div>
        <div class="form-group">
          <label 
              class="font-weight-bold"
              >Permission 
              <span
              class="text-danger"
              >*</span>
          </label>
          <input 
              type="number" 
              formControlName="permissions" 
              name="permissions"
              [(ngModel)]="adminDto.permissions"
              [value]="adminDto.permissions"
              class="form-control" 
              placeholder="Enter Valid Prmission" 
              [ngClass]="{ 'is-invalid': submitted && f.permissions.errors }"
              required>
              <div *ngIf="submitted && f.permissions.errors" class="invalid-feedback">
                  <div *ngIf="f.permissions.errors.required">permissions is required</div>
              </div>
        </div>
  
        <div class="form-group">
          <label 
              class="font-weight-bold"
              >Mobile 
              <span
              class="text-danger"
              >*</span>
          </label>
          <input 
              type="mobile" 
              formControlName="mobile" 
              name="mobile"
              [(ngModel)]="adminDto.mobile"
              [value]="adminDto.mobile"
              class="form-control" 
              placeholder="Enter Valid Mobile" 
              [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
              required>
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile.errors.required">Mobile is required</div>
              </div>
        </div>
  
        <div class="form-group">
          <label 
              class="font-weight-bold"
              >Email 
              <span
              class="text-danger"
              >*</span>
          </label>
          <input 
              type="email" 
              formControlName="email" 
              name="email"
              [(ngModel)]="adminDto.email"
              [value]="adminDto.email"
              class="form-control" 
              placeholder="Enter Valid Email" 
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              required>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
        </div>

        <div class="form-group">
            <label 
                class="font-weight-bold"
                >Password 
                <span
                class="text-danger"
                >*</span>
            </label>    
            <input 
                type="text" 
                formControlName="password" 
                name="password"
                [(ngModel)]="adminDto.password"
                [value]="adminDto.password"
                class="form-control" 
                placeholder="Enter Valid Password" 
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                required>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
          </div>

      </form>
      <div class="modal-footer">
        <button type="button" (click)="back()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button"  [disabled]="loading" class="btn btn-primary" (click)="save()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </div>
    </div>
  </div>
  
  
  
  