<nav class="navbar navbar-expand-lg navbar-dark mb-1">
    
    <div class="container">
        <a class="navbar-brand" href="../index.html">At<span style="color: orangered;">Y</span>ourService</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="list-item-active"  routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="list-item-active"  routerLink="/aboutus">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" routerLinkActive="list-item-active"  [routerLink]="['/servicePage','City']">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="list-item-active"  routerLink="/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button type="button" class="btn btn-link bg-primary text-white dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="false" >
                            Menu
                        </button>
                        <ul class="dropdown-menu"
                                style="max-width: max-content;background-color:transparent;border:none">
                                <li><a class="dropdown-item"
                                        style="color: darkgrey;background-color:#353f6be8">
                                        Dashboard
                                </a></li>
                                <li><a class="dropdown-item" 
                                        style="color: darkgrey;background-color:#353f6be8" (click)="logout()">
                                        LogOut
                                </a></li>
                        </ul>
                    </div>
                </li>
                <li>
                
                </li>
            </ul>
        </div>
    </div>
</nav>