<form id="singnupFrom" [formGroup]="signupForm" >
                        <div class="form-group">
                            <label 
                                class="font-weight-bold"
                                >Email 
                                <span
                                class="text-danger"
                                >*</span>
                            </label>
                            <input 
                                type="email" 
                                formControlName="email" 
                                name="email"
                                [(ngModel)]="customerDto.email"
                                class="form-control" 
                                placeholder="Enter Valid Email" 
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                required>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label 
                                class="font-weight-bold"
                                >First Name 
                                <span
                                class="text-danger"
                                >*</span>
                            </label>
                            <input 
                                type="text" 
                                formControlName="firstName" 
                                name="firstName"
                                [(ngModel)]="customerDto.firstName"
                                class="form-control" 
                                placeholder="Enter Your First Name" 
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" 
                                required>
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                </div>
                        </div>

                        <div class="form-group">
                            <label 
                                class="font-weight-bold"
                                >Last Name 
                                <span
                                class="text-danger"
                                >*</span>
                            </label>
                            <input 
                                type="text" 
                                formControlName="lastName" 
                                name="lastName"
                                [(ngModel)]="customerDto.lastName"
                                class="form-control" 
                                placeholder="Enter Your Last Name" 
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" 
                                required>
                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors.required">lastname is required</div>
                                </div>
                        </div>

                        <div class="form-group">
                            <label 
                                class="font-weight-bold"
                                >Phone Number</label>
                            <input 
                                type="text" 
                                formControlName="mobile"
                                name="mobile"
                                [(ngModel)]="customerDto.mobile" 
                                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                                placeholder="Enter valid phone"                                
                                class="form-control" required>
                                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.mobile.errors.required">mobile number is required</div>
                                </div>

                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Gender </label>
                              <select 
                                class="custom-select" 
                                formControlName="gender"
                                name="gender"
                                [(ngModel)]="customerDto.gender"
                                
                                required>
                                <option [selected]>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                              </select>
                            
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Date of Birth </label>
                            <input 
                                type="date" 
                                formControlName="dob" 
                                name="dob"
                                [(ngModel)]="customerDto.dob"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label 
                                class="font-weight-bold"
                                >Password 
                                <span
                                class="text-danger"
                                >*</span>
                            </label>
                            <input 
                                type="password" 
                                formControlName="password" 
                                name="password"
                                [(ngModel)]="customerDto.password"
                                class="form-control" 
                                placeholder="***************" 
                            
                                required>
                        </div>
                        <!-- <div class="form-group">
                            <label><input 
                                    type="checkbox" 
                                    required> I agree with the <a
                                    href="javascript:;">Terms &amp;
                                    Conditions</a> for
                                Registration.</label>
                        </div> -->
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-block btn-primary" (click)="register()">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                SignUp
                            </button>
                            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                        </div>
</form>


                   